.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.president {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.trump {
  display: none;
}
.obama {
  display: none;
}
.tweet_icon {
  width: 300px;
}
